html {
    height: 98%;
  }
  body {
    background-color: #fff;
    height: 100%;
  }
  .circuit-container {
    position: absolute;
    width: 100vw;
    height: 90vh;
    z-index: -9;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    overflow: clip;

  }
  svg.circuit-path {
    height: 500vh;
    width: 100vw;
    opacity: 0.5;
  }
  .path {
    stroke-dashoffset: 6400;
    stroke-opacity: 1;
    animation: draw 30s infinite;
    animation-timing-function: steps(850);
    animation-fill-mode: forwards;
  }
  .path-01 {
    animation-delay: 0s;
  }
  .path-02 {
    animation-delay: 1s;
  }
  .path-03 {
    animation-delay: 2s;
  }
  .path-04 {
    animation-delay: 3s;
  }
  .path-05 {
    animation-delay: 4s;
  }
  
  @keyframes draw {
    0% {
    }
    100% {
      stroke-dashoffset: 0;
      stroke-opacity: 1;
    }
  }