.marker-container {
    position: relative;
    top: 15rem;
    left: 50%;
    margin-left: -17rem;
}

.marker {
    width: 28px;
    height: 28px;
    display: block;
    box-sizing: border-box;
  }

  .marker::after {
    content: '';
    width: 22px;
    height: 22px;
    left: 0;
    bottom: 1;
    position: absolute;
    border-radius: 50% 50% 0;
    border: 7px solid #333;
    transform: rotate(45deg) translate(0, 0);
    box-sizing: border-box;
    animation: animMarker 2s ease-in-out infinite alternate;
  }


  @keyframes animMarker {
    0% {
      transform: rotate(45deg) translate(2px, 2px);
    }

    100% {
      transform: rotate(45deg) translate(-2px, -2px);
    }
  }

  @keyframes animShadow {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.8);
    }
  }

  @keyframes animAddress {
    0% {
        transform: translate(0, 2.8284px);
      }
  
      100% {
        transform: translate(0, -2.8284px);
      }
  }

  .address {
    font-size: 2.3rem;
    line-height: 2.1rem;
    font-weight: 700;
    margin-left: 4rem;
    animation: animAddress 2s ease-in-out infinite alternate;
    text-shadow: 0 0 3rem #faf9f9;
  }

  @media screen and (max-width: 768px) {
    .address {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .marker-container {
        margin-left: -12rem;
    }

    .marker::after {
        width: 16px;
        height: 16px;
        left: 1rem;
        bottom: 1;
        position: absolute;
        border-radius: 50% 50% 0;
        border-width: 6px;
      }
    
      .marker::before {
        position: absolute;
        margin: auto;
        top: 130%;
        left: 0.32rem;
        width: 24px;
        height: 4px;
        border-radius: 50%;
      }
  }